.list-group-item {
  position: relative;
}

.Buttoninner,
.deleteButton {
  float: right;
  margin-left: 10px;
}

.Buttoninner {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Buttoninner:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: darkred;
}
